scripts/.venv/*

notes.txt
logs/*

script_reverse/*
scripts/config/*
scripts/obsolete/*
scripts/payload/*
scripts/export_config/*
scripts/ext_conf_mtd7.py
scripts/gen_mtd7.sh
scripts/gen_all_user_pwd.py

*.bin
*.so
*.pyc
__pycache__/

config.json
.env

files/*
dump_reverse/*
test/*
src/*

.vscode/*

firm.txt