scripts/.venv/*
notes.txt
script_reverse/*
scripts/config/*
scripts/obsolete/*
logs/*
scripts/payload/*
*.bin
*.so
config.json
files/*
dump_reverse/*
.env
*.pyc
__pycache__/
test/*
scripts/export_config/*
scripts/decrypt_export.py
scripts/decrypt_export.sh
scripts/mod.sh
scripts/extract_config.py
scripts/gen_telnet_pass.sh
scripts/generate_config.sh
.vscode/*