.venv/*

notes.txt
logs/*

script_reverse/*
scripts/config/*
scripts/obsolete/*
scripts/payload/*
scripts/export_config/*
files/*
dump_reverse/*
test/*
.vscode/*
scripts/deprecated/*

*.bin
*.so
*.pyc
__pycache__/



firm.txt